#toc {
   width: 180px;
   max-height: 90%;
   overflow: auto;
   position: fixed;
   text-align: right;
   top: 50px;
   margin-left: -200px;
}

#toc a {
   color: #FFF;
   text-shadow: rgba(0, 0, 0, 0.9) 0 1px 0;
}

#toc li {
   opacity: 0.5;
}

#toc li:hover {
   opacity: 1;
}

#toc .tocify-focus {
   opacity: 1;
}

#toc ul, #toc li {
   list-style: none;
   margin: 0;
   padding: 0;
   border: none;
   line-height: 30px;
}

.header {
   text-indent: 10px;
}

.sub-header {
   text-indent: 20px;
   display: none;
}

.sub-header li {
   font-size: 12px;
}

.sub-header .sub-header {
   text-indent: 30px;
}

.sub-header .sub-header .sub-header {
   text-indent: 40px;
}

@media print, screen and (max-width: 1040px) {
   #toc {
      display: none;
   }
}