---
---
<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="chrome=1">
      <title>Vanilla API by Kasper Isager</title>

      <link rel="stylesheet" href="/{{site.baseurl}}/stylesheets/styles.css">
      <link rel="stylesheet" href="/{{site.baseurl}}/stylesheets/pygment_trac.css">
      <script src="/{{site.baseurl}}/javascripts/scale.fix.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

      <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
   </head>
   <body>
      <div class="wrapper">
         <header>
            <h1>Vanilla API <a href="https://travis-ci.org/kasperisager/VanillaAPI"><img src="https://travis-ci.org/kasperisager/VanillaAPI.png?branch=master" alt="Build Status"></a></h1>
            <p>Highly extensible RESTful API for Vanilla</p>
            <p class="view"><a href="https://github.com/kasperisager/VanillaAPI">View the Project on GitHub <small>kasperisager/VanillaAPI</small></a></p>
            <ul>
               <li><a href="https://github.com/kasperisager/VanillaAPI/zipball/master">Download <strong>ZIP File</strong></a></li>
               <li><a href="https://github.com/kasperisager/VanillaAPI/tarball/master">Download <strong>TAR Ball</strong></a></li>
               <li><a href="https://github.com/kasperisager/VanillaAPI">View On <strong>GitHub</strong></a></li>
            </ul>
         </header>
         <section>

            {{content}}

            <hr>
            <p>Copyright 2013 © <a href="https://github.com/kasperisager">Kasper K. Isager</a>. Licensed under the terms of the <a href="/{{site.baseurl}}/license">MIT License</a></p>
         </section>
      </div>
      <footer>
         <p>Project maintained by <a href="https://github.com/kasperisager">kasperisager</a></p>
         <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
      </footer>
      <!--[if !IE]><script>fixScale(document);</script><![endif]-->
      
   </body>
</html>